.grid {
    display: grid;
    place-items: center;
    min-height: 100vh;
    grid-template-columns: repeat(auto-fill, minmax(400px, auto));

    gap: 2rem;
    margin-inline: 5rem;
    margin-block: 5rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2rem;
}

#buttons {
    display: flex;
    gap: 1rem;
}

#addButton {
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#addButton i {
    font-size: 2rem;
    position: relative;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
    margin: 3rem;
}

.search_input {
    width: 300px;  
    max-width: 100%; 
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.btn-icon {
    background-color: transparent;
    border: none;
}

.btn-icon > a > i {
    font-size: 2rem;
    padding-inline: 0.5rem;
    color: #c1121f;
}